@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Translate Element styles */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon,
.goog-te-menu-value span,
.goog-tooltip,
.goog-tooltip:hover,
.goog-text-highlight,
#goog-gt-tt,
.goog-te-spinner-pos {
  display: none !important;
}

.goog-te-gadget {
  height: 0px !important;
  overflow: hidden;
}

body {
  top: 0 !important;
}
